<a href="https://colab.research.google.com/github/BenHigginsData/pythonguides/blob/main/A_guide_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <u>**A guide to Pandas**</u>

The prupose of this notbook is to act as a referral for all your Pandas data transformation needs.

The dataset used for this notebook can be found here: *put a hyperlink here*

# Prerequisites

Please run the cell directly below before continuing. The cell will load all necessary dependencies.

In [1]:
import pandas as pd
import numpy as np

# Pandas documentation: https://pandas.pydata.org/pandas-docs/stable/index.html

# Loading the data

In [18]:
# To get data located in github click on the file and view raw. Copy the url from the page that loads.
football_dataset_gh = 'https://raw.githubusercontent.com/BenHigginsData/pythonguides/main/Football%20Results%201872-2021.csv'
weather_dataset_gh = 'https://raw.githubusercontent.com/BenHigginsData/pythonguides/main/Data/England%20and%20Wales%20daily%20precip.csv'

sales_electrical_gh = 'https://raw.githubusercontent.com/BenHigginsData/pythonguides/main/Data/Sales%20-%20Electrical%20Products.csv'
sales_garden_gh = 'https://raw.githubusercontent.com/BenHigginsData/pythonguides/main/Data/Sales%20-%20Garden%20Products.csv'
sales_kitchen_gh = 'https://raw.githubusercontent.com/BenHigginsData/pythonguides/main/Data/Sales%20-%20Kitchen%20Products.csv'
sales_lookup = 'https://raw.githubusercontent.com/BenHigginsData/pythonguides/main/Data/Sales%20lookup.csv'

df = pd.read_csv(football_dataset_gh)
df_weather = pd.read_csv(weather_dataset_gh)

Other arguments within the pd.read_FILETYPE function that may be useful: ***Argument=*** Description

***header=*** Row number(s) to use as the column names, and the start of the data. <br>
***usecols=*** Return a subset of the columns. Specify with a list of numbers or column names, can use column letters with pd.read_excel. <br>
***index_col=*** Specify which column to use as an index.

# Basic dataset information

In [ ]:
# View the first few rows of the dataset:
# by default the first 5 rows are shown; pass an integer as the argument to change the number of rows shown. 
# Passing a -ve number as the argument will show all but the bottom n rows.

df.head()

         date home_team away_team  ...     city   country neutral
0  1872-11-30  Scotland   England  ...  Glasgow  Scotland   False
1  1873-03-08   England  Scotland  ...   London   England   False
2  1874-03-07  Scotland   England  ...  Glasgow  Scotland   False
3  1875-03-06   England  Scotland  ...   London   England   False
4  1876-03-04  Scotland   England  ...  Glasgow  Scotland   False

[5 rows x 9 columns]

In [ ]:
# Information on each of the columns, such as the data type and number of missing values.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42483 entries, 0 to 42482
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        42483 non-null  object
 1   home_team   42483 non-null  object
 2   away_team   42483 non-null  object
 3   home_score  42483 non-null  int64
 4   away_score  42483 non-null  int64
 5   tournament  42483 non-null  object
 6   city        42483 non-null  object
 7   country     42483 non-null  object
 8   neutral     42483 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.6+ MB

In [ ]:
# The number of rows and columns in the dataset

df.shape

(42483, 9)

In [ ]:
# df.values creates a numpy array of all the values with each row as a list

df.values

array([['1872-11-30', 'Scotland', 'England', ..., 'Glasgow', 'Scotland',
        False],
       ['1873-03-08', 'England', 'Scotland', ..., 'London', 'England',
        False],
       ['1874-03-07', 'Scotland', 'England', ..., 'Glasgow', 'Scotland',
        False],
       ...,
       ['2021-07-29', 'Mexico', 'Canada', ..., 'Houston',
        'United States', True],
       ['2021-07-29', 'United States', 'Qatar', ..., 'Austin',
        'United States', False],
       ['2021-08-01', 'United States', 'Mexico', ..., 'Las Vegas',
        'United States', False]], dtype=object)

In [ ]:
# Column names

df.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral'],
      dtype='object')

In [ ]:
# Summary statistics

df.describe()

         home_score    away_score
count  42483.000000  42483.000000
mean       1.743827      1.185557
std        1.752594      1.403908
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

In [ ]:
# Summary of missing values per column

df.isna().sum()

date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
dtype: int64

In [ ]:
# Unique values
df['city'].unique()

# We then get the length of the list to get a count of unique values
display(len(df['city'].unique()))

2050

In [ ]:
# Count of values per unique category entry

df['city'].value_counts()

Kuala Lumpur    589
Doha            474
Bangkok         427
London          413
Budapest        398
               ...
Seongnam          1
Kruševac          1
Parchal           1
Urziceni          1
Chillán           1
Name: city, Length: 2050, dtype: int64

# Transformation

## Cleaning

In [ ]:
# Remove duplicate rows

df_no_dups =df.drop_duplicates()

In [ ]:
# Remove rows with missing data/NAs (use the 'subset=' argument to specify which columns to check)

df_no_missing = df.dropna(subset = ['country', 'tournament'])

In [ ]:
# Replace missing/NA values:

df.fillna("data is missing")

In [ ]:
# Remove certain characters from certain columns


# List of characters to remove
chars_to_remove = ["+", ",", "$"]

# List of column names to clean
cols_to_clean = ["tournament", "city"]

# Loop for replacing the characters with an empty string on the specified columns.
# for each column --> for each character --> replace the column's values with the character remove.
for col in cols_to_clean:
    for char in chars_to_remove:
        df[col] = df[col].apply(lambda value: value.replace(char, ""))

In [ ]:
# Correcting data types with 'df.astype()'

df["home_score"] = df["home_score"].astype("int")

In [ ]:
# Rename columns:

# needs a ditionary of {old name: new name, old name: new name, .....}
df.rename(columns={'home_score': 'home goals', 'away_score': 'away goals'}, inplace=True)

In [ ]:
# Setting a column to index

df_indexed = df.set_index('country')

# Can set nested indexes:

df_nest_indexed= df.set_index(["country", "city"])

In [ ]:
# Resetting the index

# pass 'drop=True' to the function and the index column will be removed.
df_reset_ind = df.reset_index()

In [ ]:
# The df.melt() method allows us to unpivot data from wide to long format.

## Sorting

In [ ]:
# Sort on a single column, descending by default
df.sort_values("country")

# Sort on multiple columns with multiple ascending/descending conditions
df.sort_values(["country", "city"], ascending=[False, True])

# Sort by the row index
df.sort_index()

## Subsetting

### Subsetting with conditions

In [ ]:
# Subsetting a dataset to fewer columns:

df_3cols = df[['country', 'city', 'date']]

In [ ]:
# Conditional subsetting

df_England = df[df['country'] == 'England']

# use multiple criteria with 'and &' or 'or |' by bracketing the different conditions
df_high_goal_count = df[(df['home_score'] > 10) | (df['away_score'] > 10)]

In [ ]:
# Subsetting on multiple criteria in one column
my_list = ['England', 'Scotland', 'Wales']
df_uk = df[df.country.isin(my_list)]
df_uk['country'].value_counts()

In [ ]:
# Selecting rows where certain columns are not blank.

df_non_blank = df[(~df['city'].isnull()) & (~df['tournament'].isnull())]

In [ ]:
# Subset categories with a minimum amount of observations
df_most_games = df.groupby(['city']).filter(lambda x: len(x) >= 250)

# Confirm with:
df_most_games['city'].value_counts()

### Subset using df.query()

In [ ]:
# Subset with Query:

df_q = df.query("country=='Wales' or (city =='London' and home_score > 5)")
df_q.sort_values(by='home_score', ascending=False)

### Subset using df.loc and df.iloc

In [ ]:
# df.loc (location)

# Can slice rows if the index is unique:
df.loc[10:15]

# If there are nested indexes you can slice with tuples:
df.loc[("outer_row_1", "outer_row_n"):("inner_row_1", "inner_row_n")]

# Can slice columns:
df.loc[:, "country":"neutral"]

# can slice rows and columns at the same time:
df_sorted.loc[("outer_row_1", "outer_row_n"):("inner_row_1", "inner_row_n"),"date":"country"]

# slice dates (might have to be the index)
df.loc["2014-08-25":"2016-09-16"]

In [ ]:
# df.iloc (index location)

# df.iloc[row slice, column slice]
df.iloc[2:5, 1:4]

## New columns

In [ ]:
# Add a new column

df['home score mean'] = df['home_score'].mean()

In [ ]:
# Converting date to a datetime type and adding different date related columns
df['date'] = pd.to_datetime(df['date'])

df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['weekday'] = df['date'].dt.day_name()

In [ ]:
# Min and max date
display(df["date"].min())
display(df["date"].max())

In [ ]:
# Getting the decade (same method for bucketing)

df['decade'] = (np.floor(df['year'] / 10) * 10).astype(int)
df.head()

In [ ]:
# Adding a calculated column
df['home_goal_difference'] = df['home_score'] - df['away_score']

# Stats and calculations

In [ ]:
# the agg() function for multiple calculations:

# e.g. function for IQR
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)


df_calcs1 = df[["home_score", "away_score"]].agg([iqr, np.median, np.mean])
df_calcs1

In [ ]:
# Summarise by category value with groupby()

df_country_mean = df.groupby(["country",'decade'])["away_score"].mean()
df_country_mean

In [ ]:
# Pivot table

df_pivot = df.pivot_table(values="home_score",
                         index="country",
                         columns="neutral",
                         fill_value="No games",
                         margins=True)

display(df_pivot)

In [ ]:
# Getting the smallest and largest values:

display(df[df['country'] == 'Germany'].nsmallest(1, 'year'))
display(df.nlargest(3, 'away_score'))

# Joining datasets

To practice with the merging functions we can first load a few small tables of fake data to dow with sales in a homeware store.

In [ ]:
sales_electrical_gh
sales_garden_gh
sales_kitchen_gh

df_elec_sales = pd.read_csv(sales_electrical_gh)
df_garden_sales = pd.read_csv(sales_garden_gh)
df_kitchen_sales = pd.read_csv(sales_kitchen_gh)
df_sales_lookup = pd.read_csv(sales_lookup)

## Concatenating (Vertical join)

In [ ]:
# Concatenate data (joining vertically)

# Let's vertically join the three sales tables together using pd.concat().
df_all_sales = pd.concat([df_elec_sales, df_garden_sales, df_kitchen_sales], ignore_index=False, keys=["elc", "gdn", "ktn"])

# ignore_index=True will create an index that spans the whole table, False will keep the index values of each separate table (False by default).
# keys= allows us to create an outer index, which might be good to keep track of where each row came from.
# sort=True sorts the columns alphabetically when concatenating

# pd.concat() will automatically include all the columns and put NaN against the table with fewer columns if joining tables with different amount of columns.
# To only keep the columns that the tables have in common, set the 'join=' argument to "inner". pb.concat() is an outer join by default


df_all_sales

In [ ]:
# Append data (joining vertically)

# df.append() is a simplified version of pd.concat()
# You can use ignore_index= and sort=, but not keys= and join=. df.append is always an outer join.
# Note, we call this as a function of a dataframe object, therefore one table goes before .append and the rest in the list:

df_appended = df_elec_sales.append([df_garden_sales, df_kitchen_sales])

df_appended

In [ ]:
# df.merge()
# Inner, Outer, Left, Right
# one/many to many/one
# merge using the index column

## Merging (Horizontal join)

### Inner join

Inner joins only return the rows with matching values in both tables. Any rows without a matching counterpart will be dropped.

In [ ]:
# Joining data with df.merge()

# df.merge() is an inner join by default. You can merge on more than one column (e.g. hotel and date) by passing a list to the on= argument.

df_inner = df_all_sales.merge(df_sales_lookup, on='Product ID', suffixes=("_AS","_SLU"))

# In this example both tables have a column called 'Product ID'. If the column names are different but can be joined on because they have the same values, we can 
# specify which columns to join on each table with 'left_on=' and 'right_on='. E.g. "left_on='Postcode'", "right_on='post_code'".


display(df_inner)

# Let's check to see how many rows remaining from the inner join
t1 = df_all_sales.shape
t2 = df_sales_lookup.shape
t3 = df_inner.shape
print(f"df_all_sales no rows:     {t1[0]}")
print(f"df_sales lookup no rows:  {t2[0]}")
print(f"max no rows:              {np.maximum(t1[0], t2[0])}")

print(f"\ndf_inner no rows:         {t3[0]}")
print(f"No rows lost:             {t3[0] - np.maximum(t1[0], t2[0])}")


# We can see which entries do not have a match to the main data set by filtering on the lookup table
df_not_in_all = df_sales_lookup[~df_sales_lookup['Product ID'].isin(df_all_sales['Product ID'])]
df_not_in_all

# We can merge merged tables in one execution by adding another .merged() command to the end of the the first one:
# e.g. df_master = df1.merge(df2, on=col1).merge(df3, on=col2)

### Left join
Left join contains all rows from the left table and only content from the right table where rows match *(Keep everything on the left, join only the same rows from the right)*.

In [ ]:
# Left join example

### Right join

Opposite of a left join - keeps all of the right table and only the content from the left table where the rows match.

In [ ]:
# Right join example

### Outer join
Every row is returned from both tables, and missing data is NaN in non matching rows.

In [ ]:
# Outer join example

### Self join
We can use this when we want to add an entry from a different row into a column next to another row. <br>
*E.g. a table of movies: 'Film' = Toy Story <--- use this same column to populate the column 'Sequel' = Toy Story 2*

In [ ]:
# Example of a self join

### Semi-join

In [ ]:
# Semi join example

### Anti-join

In [ ]:
# Anti join example

In [ ]:
# filtering joins
# semi-join 
# anti-join

# Other

In [ ]:
# Binning data
# df['price_category'] = pd.cut(df.price, [-np.inf, 400, 1000, np.inf],
                              # labels=['low', 'medium', 'high'])

# A short analysis

In [ ]:
# Organise data to tidy format with a day number
# Add a column for country
# Append the weather data together
# Join the weather data to the football data
# Subset the data to 'has weather data' for weather analysis.
# Find the teams, home cites, and away cities that win most games in the wet, dry, and snow