<a href="https://colab.research.google.com/github/BenHigginsData/pythonguides/blob/main/A_guide_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <u>**A guide to Pandas**</u>

The prupose of this notbook is to act as a referral for all your Pandas data transformation needs.

The dataset used for this notebook can be found here: *put a hyperlink here*

# Prerequisites

Please run the cell directly below before continuing. The cell will load all necessary dependencies.

In [1]:
import pandas as pd
import numpy as np

# Loading the data

In [12]:
# To get data located in github click on the file and view raw. Copy the url from the page that loads.
football_dataset_gh = 'https://raw.githubusercontent.com/BenHigginsData/pythonguides/main/Football%20Results%201872-2021.csv'

df = pd.read_csv(football_dataset_gh)

In [ ]:
# Organise data to tidy format with a day number
# Add a column for country
# Append the weather data together
# Join the weather data to the football data
# Subset the data to 'has weather data' for weather analysis.

In [15]:
# Can I get weather data --> date by city?

# We can see from the summary below that there are no missing values. 
display(df.isna().sum())

# Let's check if there are any values we might need to replace.
display(df.head(15))

date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
dtype: int64

          date home_team away_team  ...     city   country neutral
0   1872-11-30  Scotland   England  ...  Glasgow  Scotland   False
1   1873-03-08   England  Scotland  ...   London   England   False
2   1874-03-07  Scotland   England  ...  Glasgow  Scotland   False
3   1875-03-06   England  Scotland  ...   London   England   False
4   1876-03-04  Scotland   England  ...  Glasgow  Scotland   False
5   1876-03-25  Scotland     Wales  ...  Glasgow  Scotland   False
6   1877-03-03   England  Scotland  ...   London   England   False
7   1877-03-05     Wales  Scotland  ...  Wrexham     Wales   False
8   1878-03-02  Scotland   England  ...  Glasgow  Scotland   False
9   1878-03-23  Scotland     Wales  ...  Glasgow  Scotland   False
10  1879-01-18   England     Wales  ...   London   England   False
11  1879-04-05   England  Scotland  ...   London   England   False
12  1879-04-07     Wales  Scotland  ...  Wrexham     Wales   False
13  1880-03-13  Scotland   England  ...  Glasgow  Scotland   False
14  1880-03-15     Wales   England  ...  Wrexham     Wales   False

[15 rows x 9 columns]

In [11]:
# Clean the data <-- check for NAs and remove any odd values.

# attack_df.isna().sum() <-- how many NAs
# attack_df = attack_df[~attack_df['Date'].isna()] <-- create a new df where 'Date' is not NA
# attack_df.isna().sum() <-- how many NAs now?

# display(df.isna().sum())
# display(df.shape)
df.describe()

           Min Delay        Min Gap        Vehicle
count  143917.000000  143917.000000  143917.000000
mean        2.197802       3.254668    3938.319663
std         8.833085       9.117866    2447.175793
min         0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000
50%         0.000000       0.000000    5211.000000
75%         3.000000       6.000000    5596.000000
max       999.000000     999.000000   72537.000000

In [ ]:
# Joining the codes data to get the vehicle type.

In [ ]:
# Describe the data and get more info on the dataset like how many rows etc.

In [ ]:
# Identify main categories and do a few group bys to sum up the stats
# Do min and max of a certian column

In [ ]:
# Go through the various process to filter from query to iloc

In [ ]:
# Talk about changing the dataset from wide to long

In [ ]:
# Using datetime functions with pandas

In [ ]:
# Binning data
# df['price_category'] = pd.cut(df.price, [-np.inf, 400, 1000, np.inf],
                              # labels=['low', 'medium', 'high'])

In [ ]:
# Saving our main dataset now that it's clean. We can use this in the data viz guides.